import net.jini.core.discovery.LookupLocator;

com.sun.jini.outrigger {
    /* Unicast discovery: find reggie by hostname, no multicast needed */
    initialLookupLocators = new LookupLocator[]{
        new LookupLocator("jini://reggie")
    };
    initialLookupGroups = new String[]{"rede-tuplas"};
}
