import com.sun.jini.start.ServiceDescriptor;
import com.sun.jini.start.NonActivatableServiceDescriptor;

com.sun.jini.start {
    serviceDescriptors = new ServiceDescriptor[] {
        new NonActivatableServiceDescriptor(
            /* codebase — where clients download Entry stub classes */
            "http://javaspaces:8080/outrigger-dl.jar",
            "security.policy",
            "outrigger.jar:jsk-lib.jar:jsk-platform.jar",
            "com.sun.jini.outrigger.TransientOutriggerImpl",
            new String[]{"outrigger-inner.config"}
        )
    };
}
